<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="inputArrayZone">
</div>
<div id="DWTArrayParams">
</div>
<div id="DWTArrayZone">
</div>
<div id="IdwtParams">
</div>
<canvas id="cDenoised" width="250" height="50" title="Denoised image"></canvas>
<canvas id="firstError" width="250" height="50" title="firstError"></canvas>

<canvas id="IDWT" style="width: 1280px;height: 800px"></canvas>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="../lib/Tools.object.js"></script>
<script type="text/javascript" src="../lib/ImageJS.class.js"></script>
<script type="text/javascript" src="../lib/ImageRGBA.class.js"></script>
<script type="text/javascript" src="../lib/Wavelets.class.js"></script>
<script type="text/javascript" src="../lib/Wavelets_list.js"></script>
<script type="text/javascript" src="../pages/index.js"></script>


</body>
</html>